In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Import all csv files with raw materials data
# Add a column with material name to each one
# Concat all them into one DataFrame named materials

import glob
import re

files = glob.glob('data/indexes/*.csv')

index_names = []
index_list = []
for file in files:
    name = re.findall('\\\(.+).csv', file)
    name_string = ''.join(name)
    index_names.append(name_string)
    df = pd.read_csv(file, index_col=None, header=0)
    df['Index'] = name_string
    index_list.append(df)

indexes = pd.concat(index_list, axis=0, ignore_index=True)

In [3]:
indexes.shape

(17225, 8)

In [4]:
indexes.head()

,Fecha,Último,Apertura,Máximo,Mínimo,Vol.,% var.,Index
0,23.10.2019,"5.653,44","5.617,30","5.657,65","5.616,02","75,28M","-0,08%",cac40_fr
1,22.10.2019,"5.657,69","5.644,98","5.658,65","5.612,86","67,30M","0,17%",cac40_fr
2,21.10.2019,"5.648,35","5.633,04","5.664,58","5.625,10","77,64M","0,21%",cac40_fr
3,18.10.2019,"5.636,25","5.653,08","5.667,59","5.621,87","95,32M","-0,65%",cac40_fr
4,17.10.2019,"5.673,07","5.679,92","5.737,15","5.673,07","88,70M","-0,42%",cac40_fr

In [5]:
indexes.columns = ['Date', 'Last', 'Open', 'Max', 'Min', 'Vol', 'Var_%', 'Index']

In [6]:
indexes['Date'] = pd.to_datetime(indexes['Date'], format='%d.%m.%Y')
indexes.head()

        Date      Last      Open       Max       Min     Vol   Var_%     Index
0 2019-10-23  5.653,44  5.617,30  5.657,65  5.616,02  75,28M  -0,08%  cac40_fr
1 2019-10-22  5.657,69  5.644,98  5.658,65  5.612,86  67,30M   0,17%  cac40_fr
2 2019-10-21  5.648,35  5.633,04  5.664,58  5.625,10  77,64M   0,21%  cac40_fr
3 2019-10-18  5.636,25  5.653,08  5.667,59  5.621,87  95,32M  -0,65%  cac40_fr
4 2019-10-17  5.673,07  5.679,92  5.737,15  5.673,07  88,70M  -0,42%  cac40_fr

In [7]:
def number_formatting(x):
    a = x.replace('.','')
    return a.replace(',','.')

for col in ['Last', 'Open', 'Max', 'Min']:
    indexes[col] = indexes[col].apply(number_formatting)
    indexes[col] = pd.to_numeric(indexes[col])
    
indexes.head()

        Date     Last     Open      Max      Min     Vol   Var_%     Index
0 2019-10-23  5653.44  5617.30  5657.65  5616.02  75,28M  -0,08%  cac40_fr
1 2019-10-22  5657.69  5644.98  5658.65  5612.86  67,30M   0,17%  cac40_fr
2 2019-10-21  5648.35  5633.04  5664.58  5625.10  77,64M   0,21%  cac40_fr
3 2019-10-18  5636.25  5653.08  5667.59  5621.87  95,32M  -0,65%  cac40_fr
4 2019-10-17  5673.07  5679.92  5737.15  5673.07  88,70M  -0,42%  cac40_fr

In [8]:
indexes['Vol'].value_counts()

-          2980
61,69M        7
117,57M       6
182,46M       6
67,22M        5
96,95M        5
97,95M        5
202,08M       5
79,57M        5
89,70M        5
104,49M       5
118,79M       5
149,86M       5
93,65M        5
97,86M        5
107,10M       5
90,55M        5
104,47M       5
89,94M        5
137,26M       4
99,32M        4
48,11M        4
88,46M        4
82,31M        4
190,72M       4
84,27M        4
103,26M       4
75,66M        4
83,53M        4
101,87M       4
           ...
422,23M       1
504,62M       1
92,03M        1
405,11M       1
228,35M       1
161,59M       1
130,92M       1
34,73M        1
190,69M       1
68,30M        1
51,65M        1
362,90M       1
96,56M        1
29,30M        1
219,02M       1
142,36M       1
140,62M       1
309,07M       1
213,29M       1
90,77M        1
107,36M       1
117,76M       1
141,25M       1
358,66M       1
396,34M       1
33,83M        1
77,10M        1
41,82M        1
128,23M       1
125,78M       1
Name: Vol, Length: 10995, dtype: int64

In [9]:
def volume_change(x):
    if 'M' in x:
        a = x.replace('M','')
        return a.replace(',','000.')
    
            
indexes['Vol'] = pd.to_numeric(indexes['Vol'].apply(volume_change))

In [10]:
indexes['Vol'].sort_values(ascending=False)

7675     900000.51
7896     823000.94
13332    789000.49
13390    786000.59
12957    768000.02
12719    740000.25
7893     735000.03
7897     714000.45
7806     659000.37
7738     657000.62
7894     657000.50
7869     654000.24
13174    637000.10
7930     635000.74
14896    630000.18
13852    620000.09
13282    618000.65
7619     616000.91
16821    615000.00
7911     606000.52
8057     603000.26
13825    598000.10
15717    590000.21
7908     585000.00
12860    582000.35
12833    577000.32
7676     576000.70
8181     573000.47
13347    563000.12
7952     561000.33
           ...
14656          NaN
14657          NaN
14658          NaN
14659          NaN
14660          NaN
14661          NaN
14662          NaN
14663          NaN
14664          NaN
14665          NaN
14666          NaN
14667          NaN
14668          NaN
14669          NaN
14670          NaN
14671          NaN
14672          NaN
14673          NaN
14674          NaN
14675          NaN
14676          NaN
14677          NaN
14678          NaN
14679          NaN
14680          NaN
14681          NaN
14682          NaN
14683          NaN
14684          NaN
14685          NaN
Name: Vol, Length: 17225, dtype: float64

In [11]:
indexes = indexes.rename(columns={'Vol':'Vol_K'})

In [12]:
indexes.head()

        Date     Last     Open      Max      Min     Vol_K   Var_%     Index
0 2019-10-23  5653.44  5617.30  5657.65  5616.02  75000.28  -0,08%  cac40_fr
1 2019-10-22  5657.69  5644.98  5658.65  5612.86  67000.30   0,17%  cac40_fr
2 2019-10-21  5648.35  5633.04  5664.58  5625.10  77000.64   0,21%  cac40_fr
3 2019-10-18  5636.25  5653.08  5667.59  5621.87  95000.32  -0,65%  cac40_fr
4 2019-10-17  5673.07  5679.92  5737.15  5673.07  88000.70  -0,42%  cac40_fr

In [13]:
def var_reformatting(x):
    a = x.replace(',','.')
    return a.replace('%','')

indexes['Var_%'] =pd.to_numeric(indexes['Var_%'].apply(var_reformatting))

In [14]:
indexes.head()

        Date     Last     Open      Max      Min     Vol_K  Var_%     Index
0 2019-10-23  5653.44  5617.30  5657.65  5616.02  75000.28  -0.08  cac40_fr
1 2019-10-22  5657.69  5644.98  5658.65  5612.86  67000.30   0.17  cac40_fr
2 2019-10-21  5648.35  5633.04  5664.58  5625.10  77000.64   0.21  cac40_fr
3 2019-10-18  5636.25  5653.08  5667.59  5621.87  95000.32  -0.65  cac40_fr
4 2019-10-17  5673.07  5679.92  5737.15  5673.07  88000.70  -0.42  cac40_fr

In [15]:
indexes['Index'].unique()

array(['cac40_fr', 'china_a50', 'dax_index', 'dow_jones', 'euro_stoxx',
       'IBEX_10years', 'nasdaq'], dtype=object)

In [16]:
cac40_df = indexes.loc[indexes['Index']=='cac40_fr']
chinaa50_df = indexes.loc[indexes['Index']=='china_a50']
dax_df = indexes.loc[indexes['Index']=='dax_index']
dowjones_df = indexes.loc[indexes['Index']=='dow_jones']
eurostoxx_df = indexes.loc[indexes['Index']=='euro_stoxx']
ibex_df = indexes.loc[indexes['Index']=='IBEX_10years']
nasdaq_df = indexes.loc[indexes['Index']=='nasdaq']

In [18]:
ibex_df.head()

,Date,Last,Open,Max,Min,Vol_K,Var_%,Index
12106,2019-10-23,9358.5,9347.5,9380.0,9334.0,NaN,-0.23,IBEX_10years
12107,2019-10-22,9380.2,9393.3,9417.4,9344.6,139000.50,-0.24,IBEX_10years
12108,2019-10-21,9402.3,9350.3,9424.3,9342.1,167000.99,0.78,IBEX_10years
12109,2019-10-18,9329.8,9310.3,9362.2,9307.6,150000.24,-0.11,IBEX_10years
12110,2019-10-17,9340.0,9360.9,9494.5,9340.0,195000.29,-0.50,IBEX_10years

In [19]:
#cac40_df.to_csv('data/indexes/Clean dfs/cac40.csv', index=False)
#chinaa50_df.to_csv('data/indexes/Clean dfs/chinaa50.csv', index=False)
#dax_df.to_csv('data/indexes/Clean dfs/dax.csv', index=False)
#dowjones_df.to_csv('data/indexes/Clean dfs/dowjones.csv', index=False)
#eurostoxx_df.to_csv('data/indexes/Clean dfs/eurostoxx.csv', index=False)
#ibex_df.to_csv('data/indexes/Clean dfs/ibex.csv', index=False)
#nasdaq_df.to_csv('data/indexes/Clean dfs/nasdaq.csv', index=False)